@font-face{
    font-family: myFont;
    src: url(../carnivalee_freakshow/Carnevalee\ Freakshow.ttf);
}

body{
    margin: 0px;
    background-color: rgb(32, 26,26); 
}  
.firstdiv{  
    display: flex;
    justify-content: space-between;
    background-image: url(../images/backround.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    width: 100%;
    height: 50%;
    box-shadow: 2px 10px 20px red;   
} 

div.logo{
    margin-top: 20px;
    width: 50px; 
    border-radius: 20px;   
} 

.logo img{
    border-radius:150px ;
}

.nav ul{
    background-color: black;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin: 50px;
    box-shadow: 2px 10px 20px brown;  
}

ul li{
    justify-content: space-between;
    padding: 40px;
    font-size: 20px;
} 

a{
    text-decoration: none;
    color:white;
}

a:hover{
    color: brown;
} 

h1{
    margin-top: 3%; 
    text-align: center;
    color:black;
    background-color: brown;
    font-family: myFont;
}

.barber{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: brown;
    width: 30%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    margin-left:30%;
    margin-top: 5%;
    padding: 40px;
    border-style:solid;
    border-width: 5px;
    border-radius: 10px;
} 
img{
    border-radius: 50px;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

input[type="text"], select{
    width: 100%;
    height: 40px;
    margin: 10px;
    border-style:dotted;
    border-radius: 10px;
    background-color: black;
    color: white; 
    padding-left: 20px;
    
}    


input[type="date"]{
    width: 100%;
    height: 40px;
    margin: 10px;
    border-style:dotted;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding-left: 20px;
}

textarea{
  resize: vertical;
  width: 100%;
  border-style: dotted;
  border-radius: 10px;
  background-color: black;
  color: white;
  margin-top: 4px;
  padding-left:10px;
  padding-top: 10px;
    
} 
input[type="submit"] {
    width: 100%;
    height: 40px;
    margin: 10px;
    border-style:dotted;
    border-radius: 10px;
    background-color: darkred;
    color: black;
    padding-left: 20px;
    font-size: 20px;
    font: bold;
}   

#map:hover{
    color: blue;
}

#location-div {
    text-transform: uppercase;
    font-size: 24px;
    padding-left: 20px;
  }
  

footer{
    background-color: rgb(41, 33, 33);
    height: 35%;
    padding-top: 30px;
}
.footerclass{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.footerimg img{
    border-radius: 50px;
    padding-left: 10px;
    padding-top: 10px;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 20px;
    margin-left: 20px;
}  

.locationdiv{
    padding-right: 50px;
}

p{
    color: white;
}

.contactbuton{
    width: 30%;
    background-color: black;
}

#copyid{
    text-align: center;
}