@font-face{
    font-family: myFont;
    src: url(../carnivalee_freakshow/Carnevalee\ Freakshow.ttf);
}

body{
    margin: 0px;
    background-color: rgb(32, 26, 26); 
}  
.firstdiv{  
    display: flex;
    justify-content: space-between;
    background-image: url(../images/backround.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    width: 100%;
    height: 80%;
    box-shadow: 2px 10px 20px red;   
} 

div.logo{
    margin-top: 20px;
    width: 50px; 
    border-radius: 20px;   
} 

.logo img{
    border-radius:150px ;
}

.nav ul{
    background-color: black;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin: 50px;
    box-shadow: 2px 10px 20px brown;  
}

ul li{
    justify-content: space-between;
    padding: 40px;
    font-size: 20px;
} 

a{
    text-decoration: none;
    color:white;
}

a:hover{
    color: brown;
}
 
#firstheading{
    margin-top: 3%; 
    text-align: center;
    color: black;
    background-color: brown;
    font-family:myFont;	
    text-shadow: 2px 2px 5px red;
} 

.image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0 20px;
    padding-top: 20px; 
}

h2{
    background-color:brown;
    text-align: center;
    color: white;
} 

img:hover{
    transform:scale(1.1)
}

.prishtina{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:brown;
    color: black;
    width: 100%;
}

.text1 h1{ 
    padding-top: 30%;
    font-size: 50px;
    font-family:myFont;	
    text-shadow: 2px 2px 5px red;
       
} 

.text2{
    padding-top: 20px;
    color: black;
    font-size: 20px;
    text-align: justify;
} 

input[type="submit"] {
    width: 50%;
    height: 40px;
    margin-left: 20%;
    margin-bottom:10%;
    border-style:dotted;
    border-radius: 10px;
    background-color: black;
    color: brown;
    padding-left: 40px;
    font-size: 20px;
    font: bold;
}   


.prishtina2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:black;
    height: 50%;
  
} 

.text3 h1 {
    background-color: black;
    color: brown;
    padding-top: 30%;
    font-size: 50px;
    font-family:myFont;	
    
} 
.video1 iframe{
    margin-top: 30px;

   
}

footer{
    background-color: rgb(41, 33, 33);
    height: 35%;
    padding-top: 30px;
}
.footerclass{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.footerimg img{
    border-radius: 50px;
    padding-left: 10px;
    padding-top: 10px;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 20px;
    margin-left: 20px;
}  

.locationdiv{
    padding-right: 50px;
}

p{
    color: white;
}

.contactbuton{
    width: 30%;
    background-color: black;
}

#copyid{
    text-align: center;
}