@font-face{
    font-family: myFont;
    src: url(../carnivalee_freakshow/Carnevalee\ Freakshow.ttf);
}

body{
    margin: 0px;
    background-color: rgb(32, 26,26); 
}  
.firstdiv{  
    display: flex;
    justify-content: space-between;
    background-image: url(../images/backround.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    width: 100%;
    height: 50%;
    box-shadow: 2px 10px 20px red;   
} 

div.logo{
    margin-top: 20px;
    width: 50px; 
    border-radius: 20px;   
} 

.logo img{
    border-radius:150px ;
}

.nav ul{
    background-color: black;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin: 50px;
    box-shadow: 2px 10px 20px brown;  
}

ul li{
    justify-content: space-between;
    padding: 40px;
    font-size: 20px;
} 

a{
    text-decoration: none;
    color:white;
}

a:hover{
    color: brown;
} 


h1{
    margin-top: 3%; 
    text-align: center;
    color: black;
    font-family: myFont;
}  
h2{
    color:black;
    font-size: 20px;
    font-family: fantasy;
    padding-top: 25px;
    text-align: right;
    margin: 2%;
    
}


#tb1{
    color:black;
    font-size: 20px;
    font-family: myFont;
    padding-top: 25px;
    text-align: left;
    margin: 2%;
}  



.table1, .table2, .table3, .table4,  .table5, .table6, .table7 {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    width: 50%;
    height: 10%;
    margin-left: 25%;
    margin-top: 50px;
  }


  .table1 p, .table2 p, .table3 p, .table4 p,  .table5 p , .table6 p, .table7 p {
    padding-top: 0px;
  }

  
  .table1 h2, .table2 h2, .table3 h2, .table4 h2,  .table5 h2 , .table6 h2, .table7 h2 {
    padding-top: 0px;
  }
  

  footer{
    background-color: rgb(41, 33, 33);
    height: 35%;
    padding-top: 30px;
}
.footerclass{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.footerimg img{
    border-radius: 50px;
    padding-left: 10px;
    padding-top: 10px;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 20px;
    margin-left: 20px;
}  

.locationdiv{
    padding-right: 50px;
}

p{
    color: white;
}

.contactbuton{
    width: 30%;
    background-color: black;
}

#copyid{
    text-align: center;
}