@font-face{
    font-family: myFont;
    src: url(../carnivalee_freakshow/Carnevalee\ Freakshow.ttf);
}


body{  
    background-image: url(../images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;       
} 

header{
    
    background-color: black; 
    height: 80px;
    color: white;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    box-shadow: 2px 10px 20px brown;          
}  
h2{ 
    font-family:myFont;	
    padding-left: 20px;
    padding-top: 5px;
    text-shadow: 2px 2px brown;

} 

#headimg{
     
    border-radius: 50%;
    padding-left: 10px;
 
    
}

.links{
    padding-top: 30px;
    padding-right: 40px;

} 
.links a{    
    border-style: solid;
    color: white;
  
} 
h1{
    text-align: center;
    margin-left: 10px;
    font-family:myFont;	
    font-size: 50px;
    color: black;
    text-shadow: 2px 2px brown;
    padding-top: 10px;
    height: 15%;
} 


.loginform{ 
  background-color: black; 
  color: white;
  width: 30%;
  height: 90%;
  margin-top: 2%;
  margin-left: 35%;
  border-style: solid;
  border-color: brown;
  border-radius: 20px;
     
} 

h3{ 
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px  brown;
} 
#logoimg{ 
    
    border-radius: 50%;
    margin-left: 42%;
} 

#fname , #lname{
    margin-left: 16%;
    
}
   

input[type="text"]{
    border-style: solid;
    border-color: brown;
    border-radius: 5px; 
    width: 70%; 
    height: 6%;
    background-color: black;
    color: white;
    margin-left: 15%;
} 

input[type="text"]:hover{
    background-color:rgb(208, 159, 159);
}

#labelemail{
    margin-left: 16%;
    
}
   

input[type="email"]{
    border-style: solid;
    border-color: brown;
    border-radius: 5px; 
    width: 70%; 
    height: 6%;
    background-color: black;
    color: white;
    margin-left: 15%;
}  

input[type="email"]:hover{
    background-color:rgb(208, 159, 159);
}


#labelpassword{
    margin-top: 20%;
    margin-left: 16%;
}

input[type="password"]{
    border-style: solid;
    border-color: brown;
    border-radius: 5px; 
    width: 70%; 
    height: 6%;
    background-color: black;
    color: white;
    margin-left: 15%;
}

input[type="password"]:hover{
    background-color:rgb(208, 159, 159);

}
 
#checkbox{
    margin-left: 15%;
} 

  
#forgot{
   padding-left: 80px;
}
  

input[type="submit"]{ 
   border-style: solid;
   border-radius: 5px;
   background-color: brown;
   color: white;
   width:70%;
   margin-left:14%;
   height: 7%;
   text-align: center;
}  

input[type="submit"]:hover{
   background-color:red;
}

       
#loginlink{
   text-decoration: none;
   padding-left:45%;
} 

#loginlink:hover{
    color: blue;
}